*{
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: sans-serif;
}

@media only screen and (max-width: 1200px) {
    .estudiar{
        display: none;        
    }    
}

@media only screen and (max-width: 768px) {
    .titulo{
        font-size: 2rem;
        text-align: center;
    }
}


header{
    display: flex;
    justify-content: space-between;
    background-color: #EFFFFD;
    color: #42C2FF;
    padding: 20px;
}
h2{
    color: #42C2FF;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: justify;
}
article{
    grid-column: 1/4;
    padding: 15px;    
}
aside{
    background-color: #EFFFFD;
    grid-column: 4/5;
    padding: 30px;
}
footer{
    background-color: #42C2FF;
    color: white;
    text-align: center;
}
.logoFooter{
    padding: 1rem;
}
.whatsapp{
    padding: 1rem;
}

.facebook{
    padding: 1rem;
}

.instagram{
    padding: 1rem;
}

ul, ol{
    list-style: none;
    display: inline-block;
}
.menu{    
    padding: 0px 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;   
}
.menu>li{
    float: left;    
}
.menu li a{
    background-color: #85F4FF;
    color: #42C2FF;
    text-decoration: none;
    padding: 20px 80px;
    display: block;
}
.menu li a:hover{
    background-color: #EFFFFD;
}
.menu li ul{
    display: none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    min-width: 140px;    
}
.menu li:hover > ul{
    display: block;
}
.menu li ul li{
    position: relative;
}
.menu li ul li ul{
    right: 140px;
}
.contenidoAutor{
    text-align: center;
}